/* 	Font configuration
 */

/** serif fonts **/
@font-face {
	font-family: "linux-libertine";
	src: url("../res/fonts/linux-libertine.ttf");
	font-style: normal; }

/** sans-serif fonts **/
@font-face {
	font-family: "linux-biolinum";
	src: url("../res/fonts/linux-biolinum.ttf");
	font-style: normal; }

/** arabic fonts **/
@font-face {
	font-family: "ubuntu-arabic";
	src: url("../res/fonts/ubuntu-arabic.ttf");
	font-style: normal; }

@font-face {
	font-family: "amiri-quran";
	src: url("../res/fonts/amiri-quran.ttf");
	font-style: normal; }

/** glyphs **/
@font-face {
	font-family: "fontawesome";
	src: url("../res/fonts/fontawesome.ttf");
	font-style: normal; }

/** monospaced fonts **/
@font-face {
	font-family: "binchotan";
	src: url("../res/fonts/binchotan.ttf");
	font-style: normal; }

@font-face {
	font-family: "fantasque-sans-mono";
	src: url("../res/fonts/fantasque-sans-mono.ttf");
	font-style: normal; }

@font-face {
	font-family: "ubuntu-monospaced";
	src: url("../res/fonts/ubuntu-monospaced.ttf");
	font-style: normal; }

@font-face {
	font-family: "monofur55";
	src: url("../res/fonts/monofur55.ttf");
	font-style: normal; }

@font-face {
	font-family: "unifont";
	src: url("../res/fonts/unifont.ttf");
	font-style: normal; }
