* {
	padding: 0px;
	margin: 0px;
}

html, body {
	background: #FFEA9D;

	font-family: "Linux Biolinum";
	font-size: 20px;
}

/* body */
.content {
	padding: 96px 0 24px;
	text-align: center;

	font-size: 28px;
}

.outline {
	padding: 20px 0 20px;
}

.outline_header {
	padding: 20px 0 20px;
	font-size: 44px;
}

.outline_description {
	font-family: "Ubuntu Monospaced";
	font-size: 22px;
}

.contact li, .header li {
	list-style: none;
}

.contact {
	padding: 64px 0px 0px;

	text-align: center;
}

.header ul, .header nav, .header li, .content li {
	display: inline;
}

a {
	text-decoration: none;
}

.contact a i {
	color: #086666;
}

.header a {
	color: #0F3333;
}

.header a i {
	color: #086666;
}

.fa-heart {
	color: #ED181D;
}

.fa-linux {
	color: #320D26;
}

.header {
	padding: 10px 0px 10px;
	position: fixed;
	width: 100%;

	font-family: "Ubuntu Monospaced";
	font-size: 22px;
	font-weight: 500;

	display: flex;
	justify-content: space-between;

	background: #CFB666;
}

.header_right, .header_left {
	padding: 0px 40px 0px;
}

.footer {
	padding: 10px 0 10px;
	position: fixed;
	width: 100%;

	bottom: 0;
	left: 0;

	font-family: "Ubuntu Monospaced";
	font-size: 16px;
	font-weight: 300;

	display: flex;
	justify-content: space-between;

	background: #CFB666;
}

.footer_right, .footer_left {
	padding: 0px 40px 0px;
}
