html, body {
	padding: 0px;
	margin: 0px;

	background: #FFEA9D;

	font-family: "Linux Biolinum";
	font-size: 20px;
}

/* body */
.content {
	text-align: center;
	padding: 24px 0;
}

.outline {
	padding: 20px 0;
	margin: 20px 0;
}

.outline_header {
	font-size: 44px;
}

.outline_description {
	font-family: "Ubuntu Monospaced";
	font-size: 22px;
}

.contact li, .header li {
	list-style: none;
}

.content {
	font-size: 28px;
}

.header ul, .header nav, .header li, .content li {
	display: inline;
}

a {
	text-decoration: none;
	color: #086666;
}

.header {
	padding: 10px;
	text-align: center;

	font-family: "Fantasque Sans Mono";

	background: #CFB666;
}

.header_left {
	padding-right: 200px;
}

.header_right {
	padding-left: 200px;
}

.footer {
	padding: 10px 0 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;

	font-family: "Ubuntu Monospaced";
	font-size: 16px;
	font-weight: 300;

	display: flex;
	justify-content: space-between;

	background: #CFB666;
}

.footer_right, .footer_left {
	padding: 0px 40px 0px;
}
