:root {
	--bg: #fbf1c7;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458388;
	--purple: #b16286;
	--aqua: #689d6a;
	--gray: #7c6f64;
	--orange: #d65d0e;

	--fg: #3c3836;
	--aqua-off: #427b58;
	--purple-off: #8f3f71;
	--blue-off: #008080;
	--yellow-off: #b57614;
	--green-off: #79740e;
	--red-off: #9d0006;
	--gray-off: #928374;
	--orange-off: #af3a03;

	--fg-0: #282828;
	--fg-1: #3c3836;
	--fg-2: #504945;
	--fg-3: #665c54;
	--fg-4: #7c6f64;

	--bg-0: #fbf1c7;
	--bg-1: #ebdbb2;
	--bg-2: #d5c4a1;
	--bg-3: #bdae93;
	--bg-4: #a89984;

	--font-serif: "linux-libertine";
	--font-sans-serif: "linux-biolinum";
	--font-monospaced-1: "binchotan";
	--font-monospaced-2: "fantasque-sans-mono";
	--font-monospaced-3: "ubuntu-monospaced";
	--font-monospaced-4: "monofur55";
	--font-monospaced-5: "unifont";
	--font-arabic-1: "amiri-quran";
	--font-arabic-2: "ubuntu-arabic";

	--body-font-family: var(--font-monospaced-2, fantasque-sans-mono);
	--body-font-size: 1rem;
	--body-font-weight: 400;
	--body-line-height: 1.5em;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
  background-color: var(--bg-0, #fbf1c7);
	color: var(--fg-1, #3c3836);

	font-family: var(--body-font-family, fantasque-sans-mono);
	font-size: var(--body-font-size, 1rem);
	font-weight: var(--body-font-weight, 400);
	line-height: var(--body-line-height, 1.5em);
}

main {
	min-height: calc(100vh - 332.47px);
	margin: 1em;
}

.footer {
	background-color: var(--bg-2, #d5c4a1);
	padding: 1em 0.25em;

	font-family: var(--font-sans-serif, "linux-biolinum");

	min-height: 217.89px;
	overflow: hidden;
}

.va-md {
	vertical-align: middle;
}

code {
	font-family: var(--font-monospaced-3, "ubuntu-monospaced");
	font-size: 0.9em;
	line-height: 1.4em;

	color: var(--purple-off, #8f3f71);
}

::selection {
	color: var(--bg-0, #fbf1c7);
	background-color: var(--fg-0, #282828);
}

.btn-gc {
	background-color: var(--aqua, #689d6a);
}

.fs-t {
	font-size: 0.668em;
	color: var(--fg-4, #7c6f64);
}

.toc {
	background-color: #75697a1a;
	font-family: var(--font-monospaced-4);
}

.toc-header,
.toc-item {
	border-bottom: 1px solid #45838854;
	border-left: 1px solid #45838854;
	border-right: 1px solid #45838854;

	padding: 0.2em 1em;
	border-radius: 0.2em;

	overflow: auto;
}

.toc-header {
	border-top: 1px solid #45838854;
	text-align: center;
	color: var(--purple-off);
	margin: 0em;
}

.ff-sans-1 {
	font-family: var(--font-sans-serif, "linux-biolinum");
}

.ff-ss-1 {
	font-family: var(--font-serif, "linux-libertine");
}

img {
	max-width: 100%;
	max-height: 100%;
}

/** Override Bootstrap Start **/

a {
	color: var(--blue, #008080);
	text-decoration: none;
}

a:hover {
	color: var(--blue-off, #458388);
}

.list-unstyled {
    padding: 0;
}

.nav-link {
	transition-duration: 150ms;
	transition-delay: 7ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
}

.navbar-nav .nav-link {
	padding-left: 1em;
	padding-right: 1em;
}

ol, ul, dl {
	margin-top: 0;
	margin-bottom: 0;
}

header .navbar {
	background-color: var(--bg-1, #ebdbb2);
	font-family: var(--font-sans-serif, "linux-biolinum");
}

header .nav-link:hover {
	box-shadow: 2px 3px 0 0 var(--purple, #b16286);
	border-radius: 1em;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--yellow-off, #b57614);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--red-off, #9d0006);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
	color: var(--red-off, #9d0006);
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler:hover {
	box-shadow: 0 0 0 0.08rem;
}

/** Override Bootstrap End **/
