@font-face {
  font-family: 'comfortaa-regular';
  src: url('../public/fonts/Comfortaa-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'comfortaa-bold';
  src: url('../public/fonts/Comfortaa-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'comfortaa-thin';
  src: url('../public/fonts/Comfortaa-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'dosis-regular';
  src: url('../public/fonts/Dosis-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'dosis-bold';
  src: url('../public/fonts/Dosis-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'dosis-thin';
  src: url('../public/fonts/Dosis-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'jost-regular';
  src: url('../public/fonts/Jost-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'jost-bold';
  src: url('../public/fonts/Jost-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'jost-thin';
  src: url('../public/fonts/Jost-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../public/fonts/Montserrat-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../public/fonts/Montserrat-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-thin';
  src: url('../public/fonts/Montserrat-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'fantasquesansmono-regular';
  src: url('../public/fonts/FantasqueSansMono-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'fantasquesansmono-bold';
  src: url('../public/fonts/FantasqueSansMono-Bold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-italic';
  src: url('../public/fonts/LibreBaskerville-Italic.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-regular';
  src: url('../public/fonts/LibreBaskerville-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville-bold';
  src: url('../public/fonts/LibreBaskerville-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'amiri-italic';
  src: url('../public/fonts/Amiri-Italic.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'amiri-regular';
  src: url('../public/fonts/Amiri-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'amiri-bold';
  src: url('../public/fonts/Amiri-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'baloobhai-regular';
  src: url('../public/fonts/BalooBhaijaan2-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'baloobhai-bold';
  src: url('../public/fonts/BalooBhaijaan2-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'jozoor-regular';
  src: url('../public/fonts/AraJozoor-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'kufi-bold';
  src: url('../public/fonts/NotoKufiArabic-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'kufi-regular';
  src: url('../public/fonts/NotoKufiArabic-Regular.ttf');
  font-style: normal;
}
